@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-primary: #334155;
  --color-accent: #64748b;
  --font-family-serif: Merriweather, serif;
  --font-family-mono: "Fira Mono", ui-monospace, "SFMono-Regular", monospace;
}
